<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>CLIP DIARY</h1>
  </div>
</div>

<div class="bottom-buttons">
  <%= link_to 'ログイン', '#', class: 'btn-login' %>
  <%= link_to '新規登録', '#', class: 'btn-signup' %>
</div>