<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>CLIP DIARY</h1>
  </div>
</div>

<div class="bottom-buttons">
  <%= link_to 'ログイン', login_path, class: 'btn-login' %>
  <%= link_to '新規登録', new_user_path, class: 'btn-signup' %>
</div>